body {
    text-align: center;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 700;
    font-size: large;
    background: linear-gradient(#0d0e10, #f43d3d);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#symbol {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #edea06;
    margin-bottom: 10px;
}

#def {
    background: #e83636;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    
   
}

#def2 {
    margin: 0;
    background: #e83636;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types {
    margin-top: 50px;
}

.title {
    margin-bottom: 10px;
}

.t1 {
    margin-top: 0;
}

#t-img-cheers {
    height: 200px;
}

.t-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://th.bing.com/th/id/OIP.N5crI-hgE0ym-WAKmGZInAHaHa?w=196&h=196&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
}

#t-img-kriya:hover {
    background-position: center;
    background-image: url("https://www.bing.com/th/id/OGC.22a8884cceabd21753d965b5f0b0f535?pid=1.7&rurl=https%3a%2f%2f3.bp.blogspot.com%2f-Lhr3zjWpM9Y%2fVsZP4wYrTXI%2fAAAAAAAAA64%2fsC_Mvll_kW8%2fs1600%2fTantra.gif&ehk=tlbkz2qvWbBcsKU7FebA3jqMAy6VmDUt5ItzjWuT5PM%3d");
}

#t-img-charya:hover {
    background-position: center;
    background-image: url("https://www.bing.com/th/id/OGC.650b90c136eead7fa567e1eaa82af0a2?pid=1.7&rurl=https%3a%2f%2fi.gifer.com%2forigin%2f81%2f813016271d11ec5fcd9524a5ce3b484d_w200.gif&ehk=FIhxGX4%2bgPSfrnVQo4Ao5rJoeA47b%2bxVG8iyQcmVwfQ%3d");
}

#t-img-yoga:hover {
    background-position: center;
    background-image: url("https://static1.squarespace.com/static/61d3cc4a960d41134f9099d7/61dcce661002a946fb3df95e/61dcce7d1002a946fb3e5d34/1651563384845/tumblr_inline_nzgp24WS8P1rjic88_500.gif?format=1500w");
}

#t-img-anu:hover {
    background-position: center;
    background-image: url("https://www.bing.com/th/id/OGC.576db350a589490a682cbeaea0f1e364?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f57%2f6d%2fb3%2f576db350a589490a682cbeaea0f1e364.gif&ehk=AyPCwdbrZhdlEUY4HUZV%2fl%2fyJqS1Ocs1fjZUmN3jE48%3d");
}

#t-img-karma:hover {
    
    background-position: center;
    background-image: url("https://www.bing.com/th/id/OGC.6abd05b46072e03d495713f10a2c50e6?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2f6abd05b46072e03d495713f10a2c50e6%2ftenor.gif%3fitemid%3d7532161&ehk=1jnIheyMOHNrho8NNGrXDCOymaMXwNovznyydfCzj5g%3d");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/